html, body {
	background-color: #222; /* #FFF looks pretty cool too, like an xray or something */
	color: #DDD;
	overflow: hidden;
	font-family: 'Quicksand', Arial;
}

.stats {
	font-size: 1.6em;
	display: none;
	float: right;
	width: 300px;
	text-align: right;
	margin: 15px 10px 0 0;
}

.play {
	float: right;
	clear: both;
	width: 45px;
	height: 20px;
	text-align: right;
	margin: 15px 15px 0 0;
}

.play:hover {
	color: #FF007E;
	cursor: pointer;
}

.replay {
	display: none;
	float: right;
	clear: both;
	width: 45px;
	height: 20px;
	text-align: right;
	margin: 15px 15px 0 0;
}

.replay:hover {
	color: #FF007E;
	cursor: pointer;
}

#levelValue, #highScoreValue, #pointsToNextLevel {
	margin-top: 20px;
}

#healthBorder {
	width: 252px; 
	height: 18px; 
	border: 3px solid #ccc; 
	margin-bottom: 25px; 
	float: right; 
	box-shadow: 5px 5px 5px #111; 
	border-radius: 3px;
}

#health {
	width: 0px; 
	height: 16px; 
	float: right; 
	background-color: #FFAE00; 
	border: 1px solid #222;
}

.glow {
	box-shadow: 0 0 25px #FFF900 !important;
}

.lowHealth {
	background-color: red !important;
}

.highHealth {
	background-color: #00B7FF !important;
}

.debug {
	display: none;
}