html, body {
	background-color: #222; /* #FFF looks pretty cool too, like an xray or something */
	color: #DDD;
	overflow: hidden;
	font-family: 'Quicksand', Arial;
}

.stats {
	font-size: 2em;
	display: none;
	float: right;
	width: 300px;
	text-align: right;
	margin: 15px 10px 0 0;
}

.play {
	float: right;
	clear: both;
	width: 45px;
	height: 20px;
	text-align: right;
	margin: 15px 15px 0 0;
}

.play:hover {
	color: #FF007E;
	cursor: pointer;
}

.replay {
	display: none;
	float: right;
	clear: both;
	width: 45px;
	height: 20px;
	text-align: right;
	margin: 15px 15px 0 0;
}

.replay:hover {
	color: #FF007E;
	cursor: pointer;
}

#levelValue, #highScoreValue, #pointsToNextLevel {
	margin-top: 20px;
}